/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
 

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  color: #003366;
}

h1, h2, h3 {
  color: #003366;
  text-align: center;
  margin-top: 2%;
}
.logout-button {
  width: auto;
  background-color: #003366;
  margin-left: 90%;
  margin-bottom: 0%;
  margin-top: 0%;

}

.logout-button:hover {
  background-color: #002a53;
}

/* ul {
  list-style-type:none ;
  padding: 10px;
  margin-left: 25%;
  font-size:large ;
  font-weight: bold;
}

li {
  background-color: #f0f0f0;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  list-style-type:circle ;
  span {
  display: block;
  margin: 5px 0;
} */
table {
  width: 80%;
  border-collapse: collapse;
  margin: 10%;
  margin-top: auto;
  margin-bottom: 5%;
  font-size: 18px;
  text-align: centr;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
}

th {
  background-color: #003366;
  font-weight: bold;
  color: #ffffff;
}


form {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  font-family: 'Arial', sans-serif;

}

input[type="email"], input[type="password"], input[type="text"], input[type="date"],input[type="file"]   {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

button {
  background-color: #003366;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
}

button:hover {
  background-color: #002244;
}

p {
  color: red;
}

.loading {
  color: #003366;
}

.error {
  color: red;
}

.form-container {
  background-color: #ffffff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  font-family: 'Arial', sans-serif;

}

.form-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.form-button {
  background-color: #003366;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin: 10px 0;
}

.form-button:hover {
  background-color: #002244;
}

.error-message {
  color: red;
}
